 @use '../abstracts/variables' as *;

.cart{
   display: flex;
   flex-direction: column;
   font-family: Montserrat, sans-serif;
   gap: 4.375rem;

   .banner{
      text-align: center;
      color: $text-white;
      background-image: url('../../image/My Cart/banner image.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 5.375rem 0;

      h1{
      font-size: 3.125rem;
      }
   }

   .cart-table{
      max-width: 81.25rem;
      width: 100%;
      align-self: center;
      border-collapse: collapse;

      thead{
         background-color: $dark-grey;

         th{
            padding: 1.25rem 0;
            color: $text-white;
            font-weight: 700;
            font-size: 1.125rem;
         }
      } 

      tbody{
         tr{
            padding: 1.25rem;
            font-weight: 700;
            font-size: 1.125rem;
            border-bottom: 2px solid $pink-color;
            text-align: center;

            .cart-template-name{
               max-width: 12.5rem;
            }

            .plus-minus {
               .positioning{
                  font-size: 1.375rem;
                  gap: 1rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
               }
            }

            td{
               vertical-align: middle;

               button{
               background-color: $text-white;
               padding: 0.25rem;
               }

               .cart-template-image{
                  max-height: 7.5rem;
                  height: 100%;
                  margin: 0.625rem 0;
               }
            }
         }
      }
   }

   .under-table{
      align-self: center;
      max-width: 81.25rem;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .buttons{
         display: flex;
         gap: 1.25rem;
         align-items: flex-start;

         button{
            font-size: 0.938rem;
         }
      }

      .summary{
         font-size: 1.063rem;
         max-width: 35.75rem;
         width: 100%;
         background-color: $dark-grey;
         padding: 1.875rem 2.625rem 2.625rem;

         button{
            font-size: 1.125rem;
            padding: 0.625rem 3.75rem;
         }

         .summary-table{
            font-weight: 700;
            max-width: 30.5rem;
            width: 100%;
            color: $text-white;
            border-collapse: collapse;

            tr{
               border-bottom: 2px solid $pink-color;

               td {
                  padding: 1.25rem 0;
                  text-align: right;
               }

               th {
                  padding: 1.25rem 0;
                  text-align: left;
                 
               }
            }

            tr:last-child{
               font-size: 1.25rem;
               border-bottom: none;

               td{
                  padding-bottom: 2.625rem;
               }
            }
         }
      }
   }

   @media (max-width: $breakpoint-medium) {
      .under-table{
         flex-direction: column;
         gap: 3rem;
         align-items: center;

         .summary{
            display: flex;
            flex-direction: column;
            align-items: center;
         }
      }
   }

   @media (max-width: $breakpoint-small) {
      .cart-table{
         thead{
            th{
               font-size: 0.875rem;
               font-weight: 500;
               padding: 1rem 0.5rem;
            }
         }

         tbody{
            td{
               font-size: 0.875rem;
               font-weight:500;
               padding: 0 0.5rem;

               &.plus-minus{
                  .positioning{
                     gap: 0.5rem;

                     button{
                        img{
                           width: 75%;
                           height: auto;
                        }
                     }

                     span{
                        font-size: 0.938rem;
                        font-weight:600;
                     }
                  }
               }
            }
         }
      }

      .under-table{
         flex-direction: column;
         gap: 3rem;
         align-items: center;

         .buttons{
            display: flex;
            flex-direction: column;
         }

         .summary{
            max-width: 25rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            
         }
      }
   }

   
}
