$background-color: #FFF;
$pink-color: #B92770;
$cart-grey: #504E4A;
$grey-line: rgba(#727174, 0.2);
$black-text: #000;
$copyright-text: rgba(#000, 0.35);
$text-white: #FFF;
$banner-small-text-white: #E9E9ED;
$dark-grey: #504E4A;
$selector-border: #E9E9ED;
$lighter-grey: #727174;
$quantity-button-grey: #707070;
$grey-banner: #E7E8E9;
$shadow-color: #C1C7D4B3;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breapoint-large: 1440px;
